*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --dark-light-bg:#333;
    --dark-bg:rgb(39, 39, 39);
    --btn-bg:rgb(71, 71, 71);
    --border-rad:5px;
    --bg-btnplay:#26de81;
    --bg-btndown:dodgerblue;
    --gray:rgb(233, 233, 233);

}
body{
    background-color: var(--dark-bg);
}
.navbar{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: var(--dark-light-bg);
    color: white;
    height: 3rem;
    padding: 10px;
}
.brand{
    display: flex;
    flex-grow: 1;
}
.brand svg{
    margin-right: 5px;
    width: 20px;
}
.cajasearch{
    display: flex;
    flex-grow: 1;
}
.search{
    border-top-left-radius: var(--border-rad);
    border-bottom-left-radius: var(--border-rad);
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: black;
    border: 1px solid var(--btn-bg);
    
}

.search input{
    border-top-left-radius: var(--border-rad);
    border-bottom-left-radius: var(--border-rad);
    width: 500px;
    height: 33px;
    padding: 5px;
    font-weight: bold;
    background-color: black;
    border: none;
    border: 1px solid black;
    outline: none;
    color: white;
    
}
.search input:focus{
    background-color: rgb(208, 246, 255);
    color: var(--dark-light-bg);
    border: 1px solid dodgerblue;

}
.btn{
    cursor: pointer;
    padding: 5px;
    background: none;
    border: none;
    outline: none;
}
.search button.btn{
    height: 33px;
    width: 75px;
    background-color: var(--btn-bg);
    border: 1px solid var(--btn-bg);
    transition: color 0.75s;
}
.search button:hover svg{
    color: rgb(175, 175, 175);
}
.search button svg {

    color: rgb(122, 122, 122);
    width: 15px;    
}



.radiogroup{
    display: flex;
    justify-content: space-around;
}
.radiogroup input{
    visibility: hidden;
}
.radiogroup label {
    display: flex;
    margin: 2px;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    background-color: white;
    color: gray;
}
.radiogroup label:hover{
    box-shadow: 0 0 6px rgb(255, 255, 255);
}
.radiogroup label.checked{
    background-color: var(--bg-btnplay);
    color: white;
}
.radiogroup label svg{
    margin-left: 5px;
    width: 20px;
}







main{
    /* margin-top: 4rem; */
    margin: 4rem auto;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.card{
    width: 295px;
    padding-bottom: 10px;
    margin:20px auto;
    border-bottom: 1px solid gray;
}
.card a{
    color: white;
}
.btns-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}
.downbtn{
    margin-top: 5px;
    background-color: var(--bg-btndown);
    border-radius: var(--border-rad);
    color: white;
}
.downbtn:hover{
    box-shadow: 0 0 6px var(--bg-btnplay);
}
.verbtn{
    margin-left: 10px;
    background-color:var(--bg-btnplay) ;
    border-radius: var(--border-rad);
    color: white;
}

.verbtn:hover{

    box-shadow: 0 0 6px var(--bg-btndown);
}








@media only screen and (max-width:800px) {
    .brand h1{
        display: none;
        
    }
    .container{
        display: block;
    }
    .search input{
        width: 50vw;
    }
    .cajasearch{
        justify-content: center;

    }
    .card{
        padding-bottom: 10px;
        margin:20px auto;
        border-bottom: 1px solid gray;
    }
}
